$white: white;
$near-white: #f7f7f7;
$gray-lightest: #e5e5e5;
$gray-lighter: #ddd;
$gray-light: #888;
$gray: #dedede;
$gray-mid: #4a4a4a;
$gray-dark: #4c4c4c;
$gray-darker: #181819;
$gray-text: #696969;
$black: black;
$near-black: #181819;
$lightBlack: #1a1a20;

// Status
$yellow-light: #f9fb93;
$red-light: #fbe3e4;
$green-light: #cfefc2;
$green-dark: #bfe20d;

// Project
$purple: #5436fc;
$purple-light: #6246fb;
$links-color: #46cdff;
$green: #d5ff03;
$lightBlue: #aabae5;
$navy: #002374;
$green: #55be5a;
$text-color: #535353;
$black-mid: #222222;