name: PHPStan

on: pull_request

jobs:
  phpstan:
    name: PHP Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, dom, gd, pdo_mysql
          tools: composer:v2.3

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --ansi --no-interaction --verbose

      - name: Run static analysis
        run: |
          vendor/bin/phpstan.phar --memory-limit=-1 -vvv
